name: Build & Push Docker Image

on:
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/final-project:latest .
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/final-project:latest \
                     ${{ secrets.DOCKERHUB_USERNAME }}/final-project:${{ github.sha }}

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/final-project:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/final-project:${{ github.sha }}
